.feature {
  height: 100%;
  border: 3px solid $white-offset;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: auto;
    height: 100px;
    display: flex;
    text-align: center;
  }
  img {
    width: auto;
    height: 100px;
  }
  .feature-title {
    font-family: $font-family-heading;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
  }
}
